<!doctype html>
<head>
    <title>Morse Code</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>
<body>
    <div class="content">
        {# Using pre tag to show multiple spaces between words:
           http://stackoverflow.com/questions/433493/why-do-multiple-spaces-in-an-html-file-show-up-as-single-spaces-in-the-browser #}
           <div>{{ msg }}</div>
           <div class="message">{{ morse_msg }}</div>
    </div>
</body>
