<!doctype html>
<head>
    <title>Morse Code</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
    <script type="text/javascript">
        function morseSquares() {
            var width = 1000;
            var blues = {0: "#45ADA8", 1: "#547980", 2: "#9DE0AD"};
            var data = {{ arr }};

            var svgContainer = d3.select("#art")
                                .append("svg")
                                .attr("width", width)
                                .attr("height", 400);

            var squares = svgContainer.selectAll("rect")
                                      .data(data)
                                      .enter()
                                      .append("rect");


            // d represents the current data point, and i the current index
            var lineLimit = Math.floor((width - 10)/14);
            var squareAttr = squares.attr("x", function(d, i) {
                                    return 14 * (i%lineLimit);
                                })
                                .attr("y", function(d, i) {
                                    return 14 * Math.floor(i/lineLimit);
                                })
                                .attr("width", 10)
                                .attr("height", 10)
                                .style("fill", function(d) {
                                    return blues[d];
                                });
        }

        function morseCircles() {
            var width = 1000;
            var blues = {0: "#45ADA8", 1: "#547980", 2: "#9DE0AD"};
            var data = {{ arr }};

            var svgContainer = d3.select("#art")
                                .append("svg")
                                .attr("width", width)
                                .attr("height", 400);

            var circles = svgContainer.selectAll("circle")
                                      .data(data)
                                      .enter()
                                      .append("circle");


            // d represents the current data point, and i the current index
            var lineLimit = Math.floor((width - 10)/14);
            var circleAttr = circles.attr("cx", function(d, i) {
                                    return (14 * (i%lineLimit)) + 5;
                                })
                                .attr("cy", function(d, i) {
                                    return (14 * Math.floor(i/lineLimit)) + 5;
                                })
                                .attr("r", 5)
                                .style("fill", function(d) {
                                    return blues[d];
                                });
        }

        function barcode() {
            var width = 1000;
            var blues = {0: "#45ADA8", 1: "#547980", 2: "#9DE0AD"};
            var data = {{ arr }};

            var svgContainer = d3.select("#art")
                                .append("svg")
                                .attr("width", width)
                                .attr("height", 400);

            var squares = svgContainer.selectAll("rect")
                                      .data(data)
                                      .enter()
                                      .append("rect");


            // d represents the current data point, and i the current index
            var lineLimit = Math.floor((width - 10)/10);
            var squareAttr = squares.attr("x", function(d, i) {
                                    return 10 * (i%lineLimit);
                                })
                                .attr("y", function(d, i) {
                                    return 10 * Math.floor(i/lineLimit);
                                })
                                .attr("width", function(d) {
                                    return d*2;
                                })
                                .attr("height", 60)
                                .style("fill", function(d) {
                                    return blues[d];
                                });
        }

    </script>
</head>
<body>
    <div class="content">
        {# Using pre tag to show multiple spaces between words:
           http://stackoverflow.com/questions/433493/why-do-multiple-spaces-in-an-html-file-show-up-as-single-spaces-in-the-browser #}
        <div>{{ msg }}</div>
        <div class="message">{{ puzzle_msg }}</div>
        <div id="art"> </div>
        <p>
            <button onclick="morseSquares()">Squares</button>
            <button onclick="morseCircles()">Circles</button>
            <button onclick="barcode()">Barcode</button>
        </p>
    </div>
</body>
</html>
