<!doctype html>
<head>
    <title>Morse Code</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
    <script type="text/javascript">
        function circlesWithinCircles() {
            var width = 1000;
            var data = {{ arr }};

            var svgContainer = d3.select("#art")
                                .append("svg")
                                .attr("width", width)
                                .attr("height", 200);

            var squares = svgContainer.selectAll("rect")
                                      .data(data)
                                      .enter()
                                      .append("rect");


            // d represents the current data point, and i the current index
            var lineLimit = Math.floor((width - 10)/14);
            var squareAttr = squares.attr("x", function(d, i) {
                                    return 14 * (i%lineLimit);
                                })
                                .attr("y", function(d, i) {
                                    return 14 * Math.floor(i/lineLimit);
                                })
                                .attr("width", 10)
                                .attr("height", 10)
                                .style("fill", function(d) {
                                var returnColor;
                                    if (d === 0) { returnColor = "#45ADA8";
                                    } else if (d === 1) { returnColor = "#547980";
                                    } else if (d === 2) { returnColor = "#9DE0AD"; }
                                    return returnColor;
                                });
        }
    </script>
</head>
<body>
    <div class="content">
        {# Using pre tag to show multiple spaces between words:
           http://stackoverflow.com/questions/433493/why-do-multiple-spaces-in-an-html-file-show-up-as-single-spaces-in-the-browser #}
        <div>{{ msg }}</div>
        <div class="message">{{ morse_msg }}</div>
        <div id="art"> </div>
        <p>
            <button onclick="circlesWithinCircles()">Art</button>
        </p>
    </div>
</body>
</html>
